---
//@ts-ignore
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const stalux = (await getCollection("config"))[0].data;
import styles from "@styles/components/common/author.module.css";
export interface Props {
    showBio?: boolean | false;
    iscolum?: boolean | false;
}
const props = Astro.props as Props;

// 判断当前页面是否是首页，如果是则跳转到about，否则跳转到首页
const isHomePage = Astro.url.pathname === "/";
const navigationHref = isHomePage ? "/about" : "/";
---

<article class={styles.author} transition:persist-props>
    <figure
        class={`${styles.authorFigure} ${props.iscolum ? styles.figureColumn : ""}`}
    >
        <a href={navigationHref} class="a-none">
            <Image
                src={stalux.author.avatar}
                alt={stalux.author.name}
                width={100}
                height={100}
            />
        </a>
        <figcaption>{stalux.author.name}</figcaption>
    </figure>
    {props.showBio && <p>{stalux.author.bio}</p>}
</article>
